---
- name: "Make sure the home directory of {{ app.name }}"
  ansible.builtin.file:
    dest: "{{ app.home }}"
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: "Copy systemd service of {{ app.name }}"
  ansible.builtin.template:
    dest: "/etc/systemd/system/{{ app.service_name }}"
    src: service.j2
    owner: root
    group: root
    mode: '0755'

- name: "Restart the service of {{ app.name }}"
  ansible.builtin.systemd:
    name: "{{ app.service_name }}"
    state: restarted
    enabled: true
    daemon_reload: true

- name: "Copy http nginx redirect configuration for domain: {{ app.domain }}"
  ansible.builtin.template:
    dest: "/etc/nginx/sites-available/{{ app.domain }}"
    src: http.j2
    owner: root
    group: root
    mode: '0644'

- name: Enable http nginx redirect configuration by creating symlink in sites-enabled
  ansible.builtin.file:
    dest: "/etc/nginx/sites-enabled/{{ app.domain }}"
    src: "/etc/nginx/sites-available/{{ app.domain }}"
    state: link

- name: Reload nginx to apply changes
  ansible.builtin.service:
    name: nginx
    state: reloaded

- name: "Create letsencrypt certificate for domain: {{ app.domain }}"
  ansible.builtin.command: "certbot certonly -n --webroot -w /var/www/letsencrypt -m {{ admin_email }} --agree-tos -d {{ app.domain }}"
  args:
    creates: "/etc/letsencrypt/live/{{ app.domain }}"

- name: "Add letsencrypt cronjob for cert renewal for {{ app.domain }}"
  ansible.builtin.cron:
    name: "{{ app.host }}_renewal"
    job: "certbot certonly -n --webroot -w /var/www/letsencrypt -m {{ admin_email }} --agree-tos -d {{ app.domain }}"
    minute: "0"
    hour: "0"
    day: "1"
    month: "*/2"
    weekday: "*"

- name: "Copy https nginx configuration for domain: {{ app.domain }}"
  ansible.builtin.template:
    dest: "/etc/nginx/sites-available/{{ app.domain }}-ssl"
    src: https.j2
    owner: root
    group: root
    mode: '0644'

- name: Enable https nginx configuration by creating symlink in sites-enabled
  ansible.builtin.file:
    dest: "/etc/nginx/sites-enabled/{{ pp.domain }}-ssl"
    src: "/etc/nginx/sites-available/{{ app.domain }}-ssl"
    state: link

- name: Reload nginx to apply changes
  ansible.builtin.service:
    name: nginx
    state: reloaded

- name: Deploy application
  tags: [never, deploy]
  block:
    - name: "Copy build archive of {{ app.name }}"
      ansible.builtin.copy:
        src: "../../build.tar.gz"
        dest: /tmp/build.tar.gz
        owner: root
        group: root
        mode: '0644'
    
    - name: "Unzip archive to root path"
      ansible.builtin.unarchive:
        src: /tmp/build.tar.gz
        dest: {{ app.home }}

    - name: "Restart the service of {{ app.name }}"
      ansible.builtin.systemd:
        name: "{{ app.service_name }}"
        state: restarted
        enabled: true
        daemon_reload: true
