[Unit]
Description={{ app.name }} systemd service
After=syslog.target

[Service]
Type=simple
Environment=PORT={{ app.port }}
WorkingDirectory={{ app.home }}
ExecStart=node .output/server/index.mjs

[Install]
WantedBy=multi-user.target