.custom-table {
    width: 100%;
    border-collapse: collapse;

  }
  .custom-table thead th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .custom-table thead th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .custom-table thead tr {
    background-color: var(--color-slate-100);
  }
  .custom-table th,
  .custom-table td {
    padding: 12px;
    text-align: left;
  }
  .custom-table th {
    background-color: var(--color-slate-100);
    font-weight: bold;
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }
  .custom-table tr td {
    border-bottom: 1px solid #d6d3d1;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
  
  }

  .custom-table td:empty::after {
    content: "----";
    color: gray;
    font-style: italic;
  }

  .table-container {
    width: 100%;
    max-width: 800px;
    min-width: 100%;
    height: 300px; /* Jadval balandligi */
    overflow-x: scroll; /* Ichki skroll */
    height: auto;
}




th {
    position: sticky;
    top: 0;
    background: #f8f8f8;
    z-index: 2;
}
.fixed-right {
  position: sticky;
  right: 0;
  background: #f0f0f0;
  z-index: 3;
}
.has-scroll .fixed-right::before {
  box-shadow: inset -10px 0 10px -10px #00000026 !important;
  bottom: -1px;
  box-shadow: none;
  content: "";
  overflow-x: hidden;
  overflow-y: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  touch-action: none;
  width: 10px;
  left: -10px;
}

.table-container::-webkit-scrollbar {
  height: 5px;
}
.table-container::-webkit-scrollbar-track {
  border-radius: 10px;
}
.table-container::-webkit-scrollbar-thumb {
  background: var(--color-brown);
  border-radius: 10px;
}